body {
    font-family: Verdana;
    background-image: url(../ata-web-exam2/forest.jpg);
}

.jumbotron{
    background-image: url(../ata-web-exam2/basket_of_fruits.jpg);
}

.jumbotron-sign{
    background-image: url(../ata-web-exam2/stars_on_sky.jpg);
    display: flex;
    justify-content: center;
}
/* 
.highlight {
    background-color: yellow;
}

.lowScore {
    color: red;
} */